html,
body {
    height: 100%;
}

html {
    font-size: 10px;
    min-width: 0;
    overflow: hidden;
}

body {
    min-width: 0;
    font-family: 'Open Sans';
    font-weight: 300;
    overflow: auto;
}

.ruler-mask {
    -webkit-app-region: drag;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #888;
    opacity: 0.3;
}

.ruler {
    -webkit-user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .5s ease-out;
}

.ruler:hover {
    /*background-color: rgba(0, 0, 0, 0.4);*/
}

.ruler__inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.ruler__inner__border {
    position: absolute;
}

.ruler__inner__border--left {
    left: 5em;
    height: 100%;
    border-left: 1px solid white;
}

.ruler__inner__border--right {
    right: 5em;
    height: 100%;
    border-right: 1px solid white;
}

.ruler__inner__border--top {
    top: 5em;
    width: 100%;
    border-top: 1px solid white;
}

.ruler__inner__border--bottom {
    bottom: 5em;
    width: 100%;
    border-bottom: 1px solid white;
}

.ruler__inner__info {
    background-color: rgba(34,34,34,0.3);
    position: absolute;
    bottom: .6em;
    left: 4.9em;
    padding: 3px 5px 3px 3px;
    font-size: 1.1em;
    color: white;
    z-index: 99;
}

@media (max-width:152px) {
    .ruler__inner__info {
        left: 1em;
    }
}

.dark-theme .ruler__inner__info {
    background-color: rgba(255,255,255,0.7);
}

.ruler__inner__info__width:before,
.ruler__inner__info__height:before {
    width:18px;
    text-align: center;
    display: inline-block;
}

.ruler__inner__info__width:before {
    content: 'W: ';
}

.ruler__inner__info__height:before {
    content: 'H: ';
}

.ruler__inner__info__width,
.ruler__inner__info__height {
    text-align: left;
}

.ruler__inner__title {
    font-family: "Raleway";
    font-weight: 300;
    font-size: 1.5em;
    position: absolute;
    top: 1.45em;
    left: 1.6em;
    color: white;
}

.ruler__inner__theme {
    color: #888;
    position: absolute;
    bottom: 2.5em;
    right: 3em;
    cursor: pointer;
}

.dark-theme .ruler__inner__border,
.dark-theme .ruler__inner__info,
.dark-theme .ruler__inner__title {
    border-color: black !important;
    color: black;
}

.center-guide {
    position: fixed;
    box-sizing: border-box;
}

.center-guide__vertical {
    top: 0;
    left: 50%;
    height: 100%;
    width: 1px;
    border-right: dashed lightgray 1px;
}

.center-guide__horizontal {
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    border-top: dashed lightgray 1px;
}

.darkCenterGuides {
    border-color: #343434 !important;
}

.hidden {
    display: none;
}

.shdw {
    -webkit-box-shadow: 1px 1px 1px 0 rgba(119,119,119,0.9);
    -moz-box-shadow: 1px 1px 1px 0 rgba(119,119,119,0.9);
    box-shadow: 1px 1px 1px 0 rgba(119,119,119,0.9);
}

.txtshdw {
    text-shadow: 1px 1px 1px rgba(119, 119, 119, 0.9);
}

.themeMenu {
    transition: all 0.3s ease;
    color: white;
    position: absolute;
    bottom: 4.2em;
    right: 4.2em;
    background-color: rgba(34,34,34,0.7);
    padding: 5px;
    font-size: 12px;
}

.themeMenu ul {
    list-style: none;
    padding: 0;
    margin:0;
}

.themeMenu li {
    padding: 0 8px 0 16px;
    text-indent: -.7em;
    cursor: pointer;
}

.themeMenu li:hover {
    background-color: rgba(34,34,34,0.7);
}

.themeMenu li:before {
    display: inline-block;
    width: 16px;
    text-align: center;
    content: "\2022"; /* • */
    color: #949494;
}

.themeMenu li.checkmark:before {
    content: "\2714"; /* ✔ */
    color: #3AE7E7;
}

.zeroOpacity {
    opacity: 0;
}