html,
body {
	height: 100%;
}

html {
	font-size: 10px;
	min-width: 0;
	overflow: hidden;
}

body {
	min-width: 0;
	font-family: 'Open Sans';
	font-weight: 300;
	overflow: auto;
}

.ruler-mask {
	-webkit-app-region: drag;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #888;
	opacity: 0.3;
}

.ruler {
	-webkit-user-select: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-clip-path: inset(1em 1em 1em 1em);
	transition: all .5s ease-out;
}

.ruler:hover {
	/*background-color: rgba(0, 0, 0, 0.4);*/
}

.ruler__inner {
	position: relative;
	width: 100%;
	height: 100%;
}

.ruler__inner__border {
	position: absolute;
}

.ruler__inner__border--left {
	left: 5em;
	height: 100%;
	border-left: 1px solid white;
}

.ruler__inner__border--right {
	right: 5em;
	height: 100%;
	border-right: 1px solid white;
}

.ruler__inner__border--top {
	top: 5em;
	width: 100%;
	border-top: 1px solid white;
}

.ruler__inner__border--bottom {
	bottom: 5em;
	width: 100%;
	border-bottom: 1px solid white;
}

.ruler__inner__info {
	position: absolute;
	bottom: 1.2em;
	left: 5.6em;
	width: 6.5em;
	font-size: 1.1em;
	color: white;
}

.ruler__inner__info__width:before {
	content: 'W: ';
}
.ruler__inner__info__height:before {
	content: 'H: ';
}

.ruler__inner__info__width,
.ruler__inner__info__height {
	text-align: left;
}

.ruler__inner__title {
	font-family: "Raleway";
	font-weight: 300;
	font-size: 1.5em;
	position: absolute;
	top: 1.45em;
	left: 1.6em;
	color: white;
}

.ruler__inner__theme {
	color: #888;
	position: absolute;
	bottom: 2.5em;
	right: 3em;
	cursor: pointer;
}

.dark-theme .ruler__inner__border,
.dark-theme .ruler__inner__info,
.dark-theme .ruler__inner__title {
	border-color: black !important;
	color: black;
}

#guide__vertical, #guide__horizontal {
	position: fixed;
	box-sizing: border-box;
}

#guide__vertical {
	top:0;
	left: 50%;
	height: 100%;
	width: 1px;
	border-right: dashed red 1px;
}

#guide__horizontal {
	top:50%;
	left: 0;
	width: 100%;
	height: 1px;
	border-top: dashed red 1px;
}

.hidden {
	display: none;
}